@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital@1&family=Roboto:wght@300;400;700&display=swap');

body {
    background-color: #bbdef0;
    font-family: Roboto, "Times New Roman";
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  flex-direction: column;
}

.title {
    font-family: Roboto;
}

/* MAIN COMPONENT */

.calculator {
    padding: 20px;
    align-self: center;
    border: 2px solid black;
    width: 400px;
    height: 550px;
    border-radius: 6px;
    box-shadow: 5px 5px;
    background-color: white;
}

.display-screen {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-direction: column;
    border: 2px solid black;
    width: 400px;
    height: 100px;
    border-radius: 6px;
    box-shadow: 1.5px 1.5px;
}

.accumulator {
    width: 400px;
    height: 50px;
    font-size: 15px;
}
.display-result {
    width: 400px;
    height: 50px;
    align-self: flex-end;

}

.input-one {
    text-align: end;
    font-size: 15px;
    padding-right: 10px;
}
.input {
    background-color: white;
    text-align: end;
    font-size: 20px;
    padding-right: 10px;
}

.main-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.btn-clear, .btn-delete {
    border: 2px solid black;
    width: 190px;
    height: 65px;
    border-radius: 6px;
    box-shadow: 1.5px 1.5px;
}

.btn-clear {
    background-color: rgba(255, 0, 0, 0.336);
}

.clear {
    text-align: center;
    font-size: 20px;

}

.btn-clear:hover {
    background-color: rgba(255, 0, 0, 0.582);
}
.btn-clear:active {
    box-shadow: 0 2.5px black;
    transform: translateY(4px);
}


.btn-delete {
    background-color: rgba(0, 128, 0, 0.336);
}

.btn-delete:hover {
    background-color: rgba(0, 128, 0, 0.582);
}
.btn-delete:active {
    box-shadow: 0 2.5px black;
    transform: translateY(4px);
}

.delete {
    text-align: center;
    font-size: 20px;

}

.secondary-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    gap: 8px;
}

#btn-btn  {
    border: 2px solid black;
    border-radius: 6.5px;
    width: 95px;
    height: 65px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1.5px 1.5px;
}


.divide,.multiply,.minus,.plus,.equal {
    background-color: rgba(242,162,60);
}


#btn-btn:hover {
    background-color: #bbdef0
}

#btn-btn:active {
  background-color: #6ca6c4;
  box-shadow: 0 2.5px black;
  transform: translateY(4px);
}

.divide:hover,.multiply:hover,.minus:hover,.plus:hover,.equal:hover {
    background-color: rgba(242,162,60, 0.336) !important
}

.divide:active,.multiply:active,.minus:active,.plus:active,.equal:active {
    background-color: rgba(242,162,60, 0.5);
}

.para-btn {
    font-size: 20px;
}

.footer {
    position: fixed;
    left: 0;
    width: 100%;
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.github {
    width: 50px;
    height: 50px;
}
